{% extends 'base.html.twig' %}

{% block title %}Buscador{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        prop_object.method = "GET";
        prop_object.action = "{{path('app_buscador_list')}}";
        let arrayConcellos = [[], [], [], []];
        let contador = 0;
        {% for groupedConcellos in concellos %}
            {% for concello in groupedConcellos %}
                arrayConcellos[contador].push("{{concello}}");
            {% endfor %}
            contador++;
        {% endfor %}
        prop_object.concellos = arrayConcellos;
        
        let arrayTiposCentro = [];
        contador = 0;
        {% for tipo in tipos_centro %}
            arrayTiposCentro[contador] = ("{{tipo}}");
            contador++;
        {% endfor %}
        prop_object.tiposCentro = arrayTiposCentro;

        let arrayCentros = [];
        let arrayCentrosCoordenadas = [];
        let nombreProvincia = "";
        let nombreConcello = "";
        contador = 0;
        {% if centros|default(null) %}
            {% for centro in centros %}
                arrayConcellos.forEach((concellos) => {
                    if (concellos.find((concello) => concello.split('-')[0] === "{{centro.concelloId}}") !== undefined ) {
                        arrayConcellos[arrayConcellos.indexOf(concellos)].forEach((concello) => {
                            if (concello.split('-')[0] === "{{centro.concelloId}}") {
                                nombreConcello = concello.split('-')[1];
                            }
                        })
                        switch(arrayConcellos.indexOf(concellos)) {
                            case 0:
                                nombreProvincia = "A Coruña";
                            break;
                            case 1:
                                nombreProvincia = "Lugo";
                            break;
                            case 2:
                                nombreProvincia = "Ourense";
                            break;
                            case 3:
                                nombreProvincia = "Pontevedra";
                            break;
                        }
                    }
                })
                arrayCentros[contador] = {
                    id: "{{centro.id}}",
                    nombre: "{{centro.nombre}}",
                    direccion: "{{centro.direccion}}",
                    concello: nombreConcello,
                    provincia: nombreProvincia,
                    cod_postal: "{{centro.codPostal}}",
                    tlf: "{{centro.telefono}}"
                };
                arrayCentrosCoordenadas[contador] = {
                    id: "{{centro.id}}",
                    nombre: "{{centro.nombre}}",
                    coordenadaX: "{{centro.coordenadaX}}",
                    coordenadaY: "{{centro.coordenadaY}}"
                }
                contador++;
            {% endfor %}
            prop_object.centros = arrayCentros;
            prop_object.centrosCoordenadas = arrayCentrosCoordenadas;
        {% endif %}
    </script>
    {% if message|default(null) %}
        <script>
            prop_object.message = "{{message}}";
            prop_object.type = "{{type}}";
        </script>
    {% endif %}
{% endblock %}
{% block body %}
    <div {{ react_component('FormApp') }}>
            Loading... <i class="fas fa-cog fa-spin fa-3x"></i>
    </div>
    <div {{ react_component('Modal') }}></div>
{% endblock %}