{% extends 'base.html.twig' %}

{% block title %}Hello PruebaController!{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        let array = [[], [], [], []];
        let contador = 0;
        {% for groupedConcellos in concellos %}
            {% for concello in groupedConcellos %}
                array[contador].push("{{concello}}");
            {% endfor %}
            contador++;
        {% endfor %}
        prop_object.concellos = array;
    </script>
    {% if message|default(null) %}
        <script>
            prop_object.message = "{{message}}";
            prop_object.type = "{{type}}";
        </script>
    {% endif %}
{% endblock %}
{% block body %}
    <div {{ react_component('FormApp') }}>
            Loading... <i class="fas fa-cog fa-spin fa-3x"></i>
    </div>
    {# {% if centros|default(null) %}
        {% for centro in centros %}
            <div>{{centro}}</div>
        {% endfor %}
    {% endif %}

    {% if centros|default(null) %}
        <div>{{centros}}</div>
    {% endif %} #}

    <div {{ react_component('Modal') }}></div>
{% endblock %}